{% schema %}
{
  "name": "Payment Methods",
  "settings": [],
  "presets": [
    {
      "name": "Payment Methods",
      "category": "Image"
    }
  ]
}
{% endschema %}

<style>
 
</style>

<div>
  <ul class="list list-payment" role="list">
    {%- for type in shop.enabled_payment_types -%}
      <li class="list-payment__item">
        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
      </li>
    {%- endfor -%}
  </ul>
</div>