{% schema %}
{
  "name": "Separator Line",
  "settings": [
    {
      "type": "range",
      "id": "line_thickness",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Line Thickness",
      "default": 1
    }
  ],
  "presets": [
    {
      "name": "Separator Line",
      "category": "Decorative"
    }
  ]
}
{% endschema %}

<style>
  .separator-section {
    padding-top: 50px; 
    padding-bottom: 50px;  
  }
  
  @media screen and (min-width: 750px) {
    .separator-section {
      padding-top: 70px; 
      padding-bottom: 70px;  
    }
  }
  
  .separator-line {
    height: {{ section.settings.line_thickness }}px;
    background-color: rgba(var(--color-foreground),.08);
    border: none;
    margin: 0px !important;
  }
</style>

<div class="separator-section page-width">
  <hr class="separator-line" style="height: {{ section.settings.line_thickness }}px;">
</div>